@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="range"] {
  height: 34px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}

input[type="range"]::-webkit-slider-runnable-track {
  box-shadow: 1px 1px 1px #000;
  width: 100%;
  height: 11px;
  cursor: pointer;
  background: #f43f5e;
  border-radius: 1px;
}

input[type="range"]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000;
  border: 1px solid #00001e;
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #f43f5e;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 11px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000;
  background: #f43f5e;
  border-radius: 1px;
  border: 0px solid #010101;
}

input[type="range"]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000031;
  border: 1px solid #00001e;
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: #ffffff;
  cursor: pointer;
}

input[type="range"]::-ms-track {
  width: 100%;
  height: 11px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type="range"]::-ms-fill-lower {
  background: #f43f5e;
  border: 0px solid #010101;
  border-radius: 2px;
  box-shadow: 1px 1px 1px #000000;
}

input[type="range"]::-ms-fill-upper {
  background: #f43f5e;
  border: 0px solid #010101;
  border-radius: 2px;
  box-shadow: 1px 1px 1px #000000;
}

input[type="range"]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px #000031;
  border: 1px solid #00001e;
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: #ffffff;
  cursor: pointer;
}

input[type="range"]:focus::-ms-fill-lower {
  background: #f43f5e;
}

input[type="range"]:focus::-ms-fill-upper {
  background: #f43f5e;
}

*:focus-visible {
  outline: 3px dashed #f43f5e;
}

.fade-in-on-mount {
  animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
